In [1]:
# Warming Up
import pandas as pd
import numpy as np
from random import randrange
from sklearn.model_selection import train_test_split

fPath = r'C:\Users\maddi\Downloads\vgsales2.csv'
df = pd.read_csv(fPath)
df = pd.read_csv(filename_read, na_values=['NA', '?'])

# trying to create 1.5% worth of duplicates
rws = df.shape[0]
col = df.shape[1]
rwRtio = int(.015 * rws) # float is truncated

print('Number of instances before duplication = %d' % (rws))

def eenyMeeny():
     # select a random row
    tg = df.iloc[randrange(0, rws)]
    # return randomly selected row
    return tg

for i in range(rwRtio):
    df = df.append(eenyMeeny(), ignore_index=True)
rws = df.shape[0]

print('Number of instances after duplication = %d' % (rws))
print('Number of attributes = %d' % (col))
print(df.head())

NameError: name 'filename_read' is not defined

### Missing Values

In [ ]:
data = df.replace('?',np.NaN)

print('Number of instances = %d' % (rws))
print('Number of attributes = %d' % (col))

print('Number of missing values:')
for col in df.columns:
    print('\t%s: %d' % (col,df[col].isna().sum()))

In [ ]:
print('Number of rows in original data = %d' % (rws))
df = df.dropna()
print('Number of rows after discarding missing values = %d' % (df.shape[0]))
print('Difference in number of rows = %d' % (rws-df.shape[0]))
# update rws
rws = df.shape[0]

### Outliers

In [2]:
pass

### Duplicat Data

In [3]:
dups = df.duplicated()
print('Number of duplicate rows = %d' % (dups.sum()))

Number of duplicate rows = 0

## Sampling

In [4]:
data.head()

NameError: name 'data' is not defined

In [5]:
sample = data.sample(n=10)
sample

NameError: name 'data' is not defined

In [6]:
sample = data.sample(frac=0.01, random_state=999)
sample

NameError: name 'data' is not defined

In [7]:
sample = data.sample(frac=0.01, replace=True, random_state=999)
sample

NameError: name 'data' is not defined

# Data before and after dropping any columns:

In [8]:
print("Data before dropping any columns:")
print(df.head())

Data before dropping any columns:
   Rank                      Name Platform    Year         Genre Publisher  \
0     1                Wii Sports      Wii  2006.0        Sports  Nintendo
1     2         Super Mario Bros.      NES  1985.0      Platform  Nintendo
2     3            Mario Kart Wii      Wii  2008.0        Racing  Nintendo
3     4         Wii Sports Resort      Wii  2009.0        Sports  Nintendo
4     5  Pokemon Red/Pokemon Blue       GB  1996.0  Role-Playing  Nintendo

   NA_Sales  EU_Sales  JP_Sales  Other_Sales  Global_Sales
0     41.49     29.02      3.77         8.46         82.74
1     29.08      3.58      6.81         0.77         40.24
2     15.85     12.88      3.79         3.31         35.82
3     15.75     11.01      3.28         2.96         33.00
4     11.27      8.89     10.22         1.00         31.37

In [9]:
if 'Rank' in df.columns:
    df.drop('Rank', axis=1, inplace=True)
else:
    print("'Rank' column not found in the DataFrame")

print("\nData after dropping the columns:")
print(df.head())

Data after dropping the columns:
                       Name Platform    Year         Genre Publisher  \
0                Wii Sports      Wii  2006.0        Sports  Nintendo
1         Super Mario Bros.      NES  1985.0      Platform  Nintendo
2            Mario Kart Wii      Wii  2008.0        Racing  Nintendo
3         Wii Sports Resort      Wii  2009.0        Sports  Nintendo
4  Pokemon Red/Pokemon Blue       GB  1996.0  Role-Playing  Nintendo

   NA_Sales  EU_Sales  JP_Sales  Other_Sales  Global_Sales
0     41.49     29.02      3.77         8.46         82.74
1     29.08      3.58      6.81         0.77         40.24
2     15.85     12.88      3.79         3.31         35.82
3     15.75     11.01      3.28         2.96         33.00
4     11.27      8.89     10.22         1.00         31.37