In [6]:
# Warming Up
import pandas as pd
import numpy as np
from random import randrange

fPath = r'C:\Users\maddi\Downloads\vgsales2.csv'
df = pd.read_csv(fPath)

# trying to create 1.5% worth of duplicates
rws = df.shape[0]
col = df.shape[1]
rwRtio = int(.015 * rws) # float is truncated

print('Number of instances before duplication = %d' % (rws))

def eenyMeeny():
     # select a random row
    tg = df.iloc[randrange(0, rws)]
    # return randomly selected row
    return tg

for i in range(rwRtio):
    df = df.append(eenyMeeny(), ignore_index=True)
rws = df.shape[0]

print('Number of instances after duplication = %d' % (rws))
print('Number of attributes = %d' % (col))
print(df.head())

Number of instances before duplication = 16598

AttributeError: 'DataFrame' object has no attribute 'append'

### Missing Values

In [7]:
data = df.replace('?',np.NaN)

print('Number of instances = %d' % (rws))
print('Number of attributes = %d' % (col))

print('Number of missing values:')
for col in df.columns:
    print('\t%s: %d' % (col,df[col].isna().sum()))

Number of instances = 16598
Number of attributes = 11
Number of missing values:
	Rank: 0
	Name: 0
	Platform: 0
	Year: 271
	Genre: 0
	Publisher: 58
	NA_Sales: 0
	EU_Sales: 0
	JP_Sales: 0
	Other_Sales: 0
	Global_Sales: 0

In [8]:
print('Number of rows in original data = %d' % (rws))
df = df.dropna()
print('Number of rows after discarding missing values = %d' % (df.shape[0]))
print('Difference in number of rows = %d' % (rws-df.shape[0]))
# update rws
rws = df.shape[0]

Number of rows in original data = 16598
Number of rows after discarding missing values = 16291
Difference in number of rows = 307

### Outliers

In [9]:
pass

### Duplicat Data

In [10]:
dups = df.duplicated()
print('Number of duplicate rows = %d' % (dups.sum()))

Number of duplicate rows = 0

## Sampling

In [11]:
data.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [15]:
sample = data.sample(n=10)
sample

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
9851,9853,Gladiator: Sword of Vengeance,PS2,2003.0,Action,Acclaim Entertainment,0.06,0.05,0.00,0.02,0.12
7460,7462,Dead to Rights: Retribution,X360,2010.0,Shooter,Namco Bandai Games,0.11,0.08,0.00,0.02,0.21
11064,11066,Shin Ken to Mah? to Gakuenmono. Toki no Gakuen,PSP,2012.0,Role-Playing,Acquire,0.00,0.00,0.09,0.00,0.09
6446,6448,"Barbie: Jet, Set & Style!",Wii,2011.0,Misc,THQ,0.23,0.01,0.00,0.02,0.26
11440,11442,Slam 'n Jam '96 featuring Magic & Kareem,PS,1995.0,Sports,Crystal Dynamics,0.04,0.03,0.00,0.01,0.08
16113,16116,Winning Post 7 Maximum 2008,PS3,2008.0,Sports,Tecmo Koei,0.00,0.00,0.01,0.00,0.01
3935,3937,Dragon Ball Z: Supersonic Warriors,GBA,2004.0,Fighting,Atari,0.36,0.13,0.00,0.01,0.51
8527,8529,Pro Evolution Soccer 2015,X360,2014.0,Sports,Konami Digital Entertainment,0.05,0.10,0.00,0.01,0.16
8073,8075,FIFA Soccer 07,GC,2006.0,Sports,Electronic Arts,0.14,0.04,0.00,0.00,0.18
9267,9269,Avatar: The Last Airbender - The Burning Earth,X360,2007.0,Action,THQ,0.11,0.01,0.00,0.01,0.14

In [18]:
sample = data.sample(frac=0.01, random_state=999)
sample

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
10725,10727,The Land Before Time: Great Valley Racing Adve...,PS,2001.0,Racing,TDK Mediactive,0.05,0.04,0.00,0.01,0.10
9053,9055,Mojo!,PS2,2003.0,Puzzle,Mindscape,0.07,0.05,0.00,0.02,0.14
10102,10104,Vacation Sports,Wii,2009.0,Sports,Ubisoft,0.10,0.01,0.00,0.01,0.11
11876,11878,Disney's Donald Duck Advance,GBA,2001.0,Platform,Ubisoft,0.05,0.02,0.00,0.00,0.07
14561,14564,Gekiatsu!! Pachi Game Tamashi Vol. 1: CR Evang...,PSP,2011.0,Misc,Unknown,0.00,0.00,0.03,0.00,0.03
...,...,...,...,...,...,...,...,...,...,...,...
6592,6594,Silent Hunter 5: Battle of the Atlantic,PC,2010.0,Simulation,Ubisoft,0.00,0.21,0.00,0.05,0.26
4539,4541,EverQuest Online Adventures,PS2,2003.0,Role-Playing,Sony Online Entertainment,0.21,0.16,0.00,0.05,0.43
9920,9922,SD Gundam G Generation-F.I.F,PS,2001.0,Strategy,Namco Bandai Games,0.00,0.00,0.11,0.01,0.12
14440,14443,Eyeshield 21: DevilBats DevilDays,GBA,2006.0,Role-Playing,Nintendo,0.00,0.00,0.03,0.00,0.03
12075,12077,Space Hulk: Vengeance of the Blood Angels,PS,1995.0,Shooter,Electronic Arts,0.04,0.03,0.00,0.00,0.07

In [19]:
sample = data.sample(frac=0.01, replace=True, random_state=999)
sample

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
12636,12638,Adventures of Lolo,NES,1989.0,Puzzle,HAL Laboratory,0.06,0.00,0.00,0.00,0.06
13157,13159,Nike+ Kinect Training,X360,2012.0,Sports,Microsoft Game Studios,0.02,0.02,0.00,0.00,0.05
5832,5834,Karaoke Revolution Glee: Volume 3,Wii,2011.0,Misc,Konami Digital Entertainment,0.24,0.04,0.00,0.02,0.30
8417,8419,WRC 2: FIA World Rally Championship,PS3,2011.0,Racing,Ubisoft,0.00,0.13,0.00,0.04,0.17
10715,10717,Lord of Apocalypse,PSP,2011.0,Role-Playing,Square Enix,0.00,0.00,0.10,0.00,0.10
...,...,...,...,...,...,...,...,...,...,...,...
5585,5587,Resident Evil: Revelations 2,PS3,2015.0,Action,Capcom,0.06,0.08,0.16,0.03,0.32
10519,10521,God Eater 2: Rage Burst,PS4,2015.0,Role-Playing,Namco Bandai Games,0.00,0.01,0.09,0.00,0.10
6322,6324,Fushigi no Dungeon: Fuurai no Shiren GB: Tsuki...,GB,1996.0,Role-Playing,ChunSoft,0.00,0.00,0.27,0.00,0.27
1982,1984,Forza Motorsport,XB,2005.0,Racing,Microsoft Game Studios,0.52,0.51,0.00,0.02,1.05
5130,5132,Command & Conquer: Red Alert 3 Ultimate Edition,PS3,2009.0,Strategy,Electronic Arts,0.14,0.17,0.00,0.06,0.37